<!DOCTYPE html>
<html class ="redefinicao_credito" lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Creditos - Train in Blocks</title>
    <!-- <style></style> -->
    <link rel="shortcut icon" href="../assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body class="redefinicao_credito">
    <head>
        <h2>
            <div class="titulo_menu"> <span class="titulo_span">&lt;</span> Train in <span class="titulo_span">Blocks</span>
                <span class="titulo_span">/></span>
            </div>
        </h2>
    </head>
    <div class="container_menu">
    
   </div>

    <div class="container ">
        <div class=" container_menu_opcoes ">
            <div class="titulo_span ">
                <a clas href="../index.html ">&lt VOLTAR AO MENU</a>
            </div>
            <br>
        </div>
        <b class='item-card-objetivo titulo_span fonte-50'>Créditos do jogo</b><br>
        <span class='item-card-objetivo'><b class="titulo-span-credito titulo_span">Universidade:</b> Unidade Acadêmica de Serra Talhada/Universidade Federal Rural de Pernambuco (UAST-UFRPE)</span><br>
        <!-- <b class='item-card-objetivo'><b class="titulo-span-credito">Disciplina:</b> Interface Homem Máquina</b><br> -->
        <span class='item-card-objetivo'><b class="titulo-span-credito titulo_span">Autores:</b> Paulo Alves da Silva e Prof. Dr. Richarlyson Alves D'Emery </span><br>
        <span  class='item-card-objetivo'><b class="titulo-span-credito titulo_span">Ano:</b> 2021</span><br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
</body>

</html>