<!DOCTYPE html>
<html class ="redefinicao_credito" lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre - Train in Blocks</title>
    <!-- <style></style> -->
    <link rel="shortcut icon" href="../assets/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body class="redefinicao_credito">
    <head>
        <h2>
            <div class="titulo_menu"> <span class="titulo_span">&lt</span> Train in <span class="titulo_span">Blocks</span>
                <span class="titulo_span">/></span>
            </div>
        </h2>
    </head>
    <div class="container_menu">
    
        <!-- <div class="container_menu_opcoes">
            <div class="">
                <a href="index.html">CLIQUE AQUI PARA VOLTAR AO MENU</a>
            </div>
        </div> -->
    </div>
    <div class="container ">
        <div class=" container_menu_opcoes ">
            <div class="titulo_span ">
                <a clas href="../index.html ">&lt; VOLTAR AO MENU</a>
            </div>
            <br>
        </div>
        <b class='item-card-objetivo titulo_span fonte-50'>Sobre o jogo</b><br>
        <span class='item-card-objetivo'>Train in Blocks foi desenvolvido pelo discente Paulo Alves da Silva, sob orientação 
         do Prof. Dr. Richarlyson Alves D'Emery, ambos do  Curso de Bacharelando em Sistemas de Informação da Unidade Acadêmica de Serra Talhada (UAST) da Universidade Federal Rural de Pernambuco (UFRPE), durante a disciplina Interface Homem Máquina (IHM). O jogo tem como intuito, exercitar de maneira lúdica conceitos de algoritimos  apresentados
         em forma de blocos. 
         
         Os cenários do jogo são constituidos por veículos, tunels, barreiras, obstáculos e um trem que atravessa a via em determinados períodos de tempo. 
         
         O personagem principal é um operador, que manipula alavancas contidas na ferrovia, podendo deixa-las abertas ou fechadas.
         
         É importante ficar atento aos objetivos/desafios que são impostos pelo jogo, para que dessa forma, danos ao personagem principal sejam evitados.
        
         Atendendo tudo que se pede, ao fim, o jogador terá um bom desempenho.
        </span>
        <br>
        <br>
        <b class='item-card-objetivo'><b class="titulo-span-credito titulo_span">Breve tutorial:</b><a href="">&nbsp; Ver tutorial</a></b>
        <!-- <b class='item-card-objetivo'><b class="titulo-span-credito">Disciplina:</b> Interface Homem Máquina</b><br> -->
        <br>
        <b class='item-card-objetivo'><b class="titulo-span-credito titulo_span">Imagens do jogo</b></b>
      
        <!-- <div class="imagem_fundo"></div>
        <div class="container_imagem_fundo"></div> -->
        <table class="table table-dark table-striped aviso-painel">
            <thead class="titulo-span-credito">
                <tr>
                    <th class="">Imagem</th>
                    <th>Descrição</th>
                    <th>Fonte</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="imagem_credito_1"></td>
                    <td>Background</td>
                    <td><a target="_blank" href="https://i.pinimg.com/564x/95/44/32/954432dc62b97c239fcdb331940fc3c9.jpg">Ver</a></td>
                
                </tr>
                <tr>
                    <td class="imagem_credito_2"></td>
                    <td>Barreira</td>
                    <td><a target="_blank" href="https://t3.ftcdn.net/jpg/02/67/99/12/360_F_267991296_1uOSkPLnFM6gxa2GRBy5qvMTzWTIrRnj.jpg">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_3"></td>
                    <td>Veículo 1</td>
                    <td><a target="_blank" href="https://3.bp.blogspot.com/-hLUsRaGOuig/VZ0r8bQI6EI/AAAAAAAACAM/QMTfw1jpDdI/s320/%2524ferrari-rojo.png">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_4"></td>
                    <td>Veículo 2</td>
                    <td><a target="_blank" href="https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.rpg2s.net%2Findex.php%3Fsection%3Dresource%26id%3D68&psig=AOvVaw067Jtot3P_J1DuL4W1w_M2&ust=1637712746837000&source=images&cd=vfe&ved=2ahUKEwjXprbFma30AhUolZUCHf3bBuoQjRx6BAgAEAk">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_5"></td>
                    <td>Alavanca</td>
                    <td><a target="_blank" href="https://us.123rf.com/450wm/lineartestpilot/lineartestpilot1802/lineartestpilot180273052/95545901-palanca-de-tracci%C3%B3n-de-la-mano-de-dibujos-animados.jpg?ver=6">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_6"></td>
                    <td>Personagem</td>
                    <td><a target="_blank" href="https://camo.githubusercontent.com/65ab5425ea149a7f95f679c4da700a9bded921fde08a4636689d33f7da80ff57/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f3332383739302f3434393437342f39316630666330382d623237332d313165322d386162342d3062616638333632346438642e706e67">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_7"></td>
                    <td>Trem</td>
                    <td><a target="_blank" href="https://rpgmaker.net/media/content/users/40682/locker/vx_ace_char_train_by_schwarzenachtdatt398_no_steam.png">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_8"></td>
                    <td>Tile Set</td>
                    <td><a target="_blank" href="mapas/fase2/tile.png">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_9"></td>
                    <td>Alavanca 2</td>
                    <td><a target="_blank" href="https://2img.net/h/vxresource.files.wordpress.com/2011/07/lever1.png">Ver</a></td>
                </tr>
                <tr>
                    <td class="imagem_credito_10"></td>
                    <td>Tunel</td>
                    <td><a target="_blank" href="http://chocobana.my.coocan.jp/data/data/material/map.html">Ver</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
</body>

</html>